<!DOCTYPE html>
<html>
<head>
  <title>Voting Record | Justin Etzine</title>

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" />
  <link href="css/bootstrap-material-design.min.css" type="text/css" rel="stylesheet" />
  <link href="css/ripples.min.css" type="text/css" rel="stylesheet" />
  <link href="css/main.css" type="text/css" rel="stylesheet" />
</head>
<body ng-app="votingRecord" ng-controller="MainController">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">Justin Etzine</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav navbar-left">
          <li><a data-toggle="modal" data-target="#aboutModal">About me</a></li>
          <li><a data-toggle="modal" data-target="#whatsThisModal">What is this?</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://stugov.union.rpi.edu/senate">Senate website</a></li>
          <li><a href="http://flagshipdocs.com/">Flagship Docs</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 90px;">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="form-group label-floating">
          <label class="control-label" for="addon3a">Search votes</label>
          <input type="text" id="addon3a" class="form-control" ng-model="voteFilter">
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:15px;">
      <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>#</th>
              <th>Motion</th>
              <th>My vote</th>
              <th>Senate's decision</th>
              <th>Vote count</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="v in votes | filter:voteFilter | orderBy:['-date','-order']" ng-click="toggleModal(v)"
                ng-class="{'info': shouldBeHighlighted(v)}" class="pointer">
              <td ng-bind="v.date | date:'longDate':'+0000'"></td>
              <td ng-bind="v.order + 1"></td>
              <td ng-bind="v.desc"></td>
              <td ng-bind="v.vote"></td>
              <td ng-bind="v.decision"></td>
              <td ng-bind="v.count"></td>
            </tr>
            <tr ng-if="votes.length === 0" class="text-center">
              <td colspan="5">
                No votes are available yet!
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="small pull-right">
          <a class="text-muted" href="https://docs.google.com/spreadsheets/d/1GdBFj_y4QXNt8H_ayvtBd9MBGoB9Unne7H9rwcHlRbE/view">
            View Google Spreadsheet
          </a>
        </p>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="voteModal" tabindex="-1" role="dialog" aria-labelledby="voteModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="voteModalLabel">Vote Details</h4>
        </div>
        <div class="modal-body" ng-repeat="v in votes" ng-if="correctModalBody(v)">
          <p><strong>Date:</strong> {{v.date | date:'longDate':'+0000' }}</p>
          <p><strong>Motion:</strong> {{v.desc}}</p>
          <p><strong>My vote:</strong> {{v.vote}}</p>
          <p><strong>Senate's decision:</strong> {{v.decision}}</p>
          <p><strong>Vote count:</strong> {{v.count}}</p>
          <hr ng-if="v.details" />
          <div ng-bind-html="v.details"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="aboutModalLabel">About me</h4>
        </div>
        <div class="modal-body">
          <img src="me.jpg" class="img-responsive pull-right about-photo" />
          <p>
            I'm a third-term Class of 2018 Senator that believes that every
            student has an inherent right to representation. I always take my
            constituents' feedback into account, and do the best I can to represent
            the Class of 2018's views as effectively as possible.
          </p>
          <p>
            Last term, I served as the chairman of the Web Technologies Group. I
            worked hard to continue and expand upon the committee's mission of
            creating technological services that benefit RPI students. I was
            involved in the planning and development of the new elections website,
            which will empower voters to learn more about the candidates and be
            able to make educated decisions when voting.
          </p>
          <p>
            As an active member of the Student Life Committee, I believe that it
            is the Senate's responsibility to ensure in every way it can that
            students' have the resources for the best student experience possible.
            I've participated in writing two SLC proposals while serving on the
            committee. The first, the Residence Hall Improvement Recommendations
            Proposal, was used as a guide for the recent hall renovations. Once
            submitted, the second, the Residence Hall Access Proposal, will
            address student concerns regarding recent changes to the residence
            halls.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="whatsThisModal" tabindex="-1" role="dialog" aria-labelledby="whatsThisModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="whatsThisModalLabel">What is this?</h4>
        </div>
        <div class="modal-body">
          <p>
            Students have made the valid complaint of a lack of transparency
            within student government. As a publicly elected official, I believe
            it is my duty to do everything in my power to make sure my constituents
            can see the actions I take while representing them. As such, this vote
            record details every vote I've participated in for the 47th Student
            Senate term.
          </p>
          <p>
            I strongly urge my fellow senators to join me in this practice, in
            hopes of establishing it as the norm.
            <a href="http://spreadsheets.google.com">
              A publicly-viewable Google Spreadsheet would suffice</a>,
            but, for those who are more
            ambitious with web development, the source for this webpage can
            be found <a href="http://github.com/justetz/votingrecord">here</a>.
          </p>
        </div>
      </div>
    </div>
  </div>

  <script src="js/jquery.min.js" type="text/javascript"></script>
  <script src="js/angular.min.js" type="text/javascript"></script>
  <script src="js/bootstrap.min.js" type="text/javascript"></script>
  <script src="js/material.min.js" type="text/javascript"></script>
  <script src="js/ripples.min.js" type="text/javascript"></script>
  <script src="js/main.js" type="text/javascript"></script>
</body>
</html>
